 #include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   95       0     0     0>
            , <&key_physical_attrs 100 100  100   32       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   29       0     0     0>
            , <&key_physical_attrs 100 100  400   42       0     0     0>
            , <&key_physical_attrs 100 100  700   42       0     0     0>
            , <&key_physical_attrs 100 100  800   29       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000   32       0     0     0>
            , <&key_physical_attrs 100 100 1100   95       0     0     0>
            , <&key_physical_attrs 100 100    0  195       0     0     0>
            , <&key_physical_attrs 100 100  100  132       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  129       0     0     0>
            , <&key_physical_attrs 100 100  400  142       0     0     0>
            , <&key_physical_attrs 100 100  700  142       0     0     0>
            , <&key_physical_attrs 100 100  800  129       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  132       0     0     0>
            , <&key_physical_attrs 100 100 1100  195       0     0     0>
            , <&key_physical_attrs 100 100    0  295       0     0     0>
            , <&key_physical_attrs 100 100  100  232       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  229       0     0     0>
            , <&key_physical_attrs 100 100  400  242       0     0     0>
            , <&key_physical_attrs 100 100  700  242       0     0     0>
            , <&key_physical_attrs 100 100  800  229       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  232       0     0     0>
            , <&key_physical_attrs 100 100 1100  295       0     0     0>
            , <&key_physical_attrs 100 100    0  395       0     0     0>
            , <&key_physical_attrs 100 100  100  332       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  329       0     0     0>
            , <&key_physical_attrs 100 100  400  342       0     0     0>
            , <&key_physical_attrs 100 100  700  342       0     0     0>
            , <&key_physical_attrs 100 100  800  329       0     0     0>
            , <&key_physical_attrs 100 100  900  300       0     0     0>
            , <&key_physical_attrs 100 100 1000  332       0     0     0>
            , <&key_physical_attrs 100 100 1100  395       0     0     0>
            , <&key_physical_attrs 100 100  370  455    3000   430   555>
            , <&key_physical_attrs 100 100  470  455    3000   430   555>
            , <&key_physical_attrs 100 100  630  455 (-3000)   770   555>
            , <&key_physical_attrs 100 100  730  455 (-3000)   770   555>
            , <&key_physical_attrs 100 100  170  580    3000   430   750>
            , <&key_physical_attrs 100 100  270  580    3000   430   750>
            , <&key_physical_attrs 100 100  370  580    3000   430   750>
            , <&key_physical_attrs 100 100  730  580 (-3000)   770   750>
            , <&key_physical_attrs 100 100  830  580 (-3000)   770   750>
            , <&key_physical_attrs 100 100  930  580 (-3000)   770   750>
            ;
    };
};
